In [214]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [215]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

### Tuple:
1. Immutable(changes are not allowed)
2. using ( ) elements are seperated by,
3. Indexed,Ordered

In [216]:
#Tuple
tup1=(12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [217]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [218]:
l=list(tup1)
l[2]=100
tup1 = tuple(l)
tup1

(12, 3, 100, 'abc', True)

# Built-in methods:
1. count()
2. index()

In [219]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [220]:
#unpacking
tup2=(12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [221]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [222]:
#tuple with single element
y=(10,)
print(type(y))

<class 'tuple'>

In [223]:
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
1. { }
2. Does not allow duplicate values
3. not ordered
4. unindexed
5. Mutable

In [224]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [225]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

# Built-in functions
1. max()
2. len()
3. min()
4. set()

In [226]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [227]:
#Removing duplicates from the list
list1=[1,2,3,4,5,1,2,3]
list1=set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in Methods:
##### Adding an element
1. add()

##### Removing an element
2. pop()
3. remove()
4. discard()
5. clear()

In [228]:
set2 =set()
print(type(set2))

<class 'set'>

In [229]:
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [230]:
set2.pop()

100

In [231]:
print(set2)
set2.remove(12)# error when element not present

{12, 23}

In [232]:
print(set2)

{23}

In [233]:
set2.discard(12)# no error when element not present

In [234]:
set2.clear()
print(set2)

set()

In [235]:
#union,difference,intersection,subset,super set,disjoint
#symmetric difference
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A U b
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(A-B)
print(B.difference(A))
print(B-A)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2}
{6, 7}
{6, 7}

In [236]:
#subset,super set,disjoint
#symmetric difference
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))#True
print(C.issuperset(B))#True

True
False
True
True

In [237]:
#disjoint
X={1,2}
Y={23,34,45}
print(A.isdisjoint(B))#False
print(X.isdisjoint(Y))#True

False
True

In [238]:
#Symmetric difference
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [239]:
A.update(B)# A=A.union(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [240]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [241]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [242]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

### Dictionary:

dictionary name = {key1:value1,key2:value2,.......}

#### Rules for key :
1. keys should be unique
2. keys should be immutable (example:numerics,string,tuple )

In [243]:
#creating a dictionary
dict1 = {"name":"sai","rollno":47,"address":"hyd"}
print(dict1)

{'name': 'sai', 'rollno': 47, 'address': 'hyd'}

In [244]:
#extracting an element
print(dict1["rollno"])

47

In [245]:
#creating a dictionary
dict1 = {"name":"sai","rollno":47,"address":"hyd","rollno":13}
print(dict1)

{'name': 'sai', 'rollno': 13, 'address': 'hyd'}

In [246]:
#extracting an element
print(dict1["rollno"])

13

In [247]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'sai', 'rollno': 13}

In [248]:
#Adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'sai', 'rollno': 13, 'course': 'python'}

### Built-in methods:
1. keys()
2. items()
3. values()
4. get()
5. update()
6. pop()
7. popitem()

In [249]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'rollno', 'course'])
dict_values(['sai', 13, 'python'])
dict_items([('name', 'sai'), ('rollno', 13), ('course', 'python')])

In [250]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

sai
sai

In [251]:
#Adding an entry
dict1["address"]="hyd"
print(dict1)

{'name': 'sai', 'rollno': 13, 'course': 'python', 'address': 'hyd'}

In [252]:
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'sai', 'rollno': 13, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [253]:
#Removing an entry --> pop(),popitem()
dict1.pop(1)
print(dict1)
dict1.popitem()
print(dict1)

{'name': 'sai', 'rollno': 13, 'course': 'python', 'address': 'hyd', 2: 2, 3: 3}
{'name': 'sai', 'rollno': 13, 'course': 'python', 'address': 'hyd', 2: 2}

In [254]:
import random
print(random.randint(0,100))
print(random.choice(["yes","no"]))

5
no