In [0]:
 import pandas as pd

In [8]:
data={"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}
placement_data=pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

#Q1 How to write the logic you mentioned
- the communication score should be greater than 6

In [9]:
placement_data['Communication'] >6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [0]:
st=[311,6]
def placement_prediction(st):
    if st[1]>6:
       return "YES"
    else:
       return"NO"

In [3]:
placement_prediction(st)

'NO'

In [4]:
placement_prediction([45,3.6])

'NO'

In [19]:
Numpy array 1000*2

SyntaxError: ignored

#Algorithm,Model
- Decision Tree Classifier
- Available DTC

#Decision Tree Classifier
- fit(features,target)/fit(inputs,outputs)
    - Communication
    - placed
   features-2darray
   placed-1d array
- predict(feature)

#Get the communication column as 2nd array

In [11]:
placement_data['Communication'].shape

(5,)

In [12]:
placement_data[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [13]:
placement_data[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9

In [14]:
import sklearn
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(placement_data[['Communication']],placement_data['Placed'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [15]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [16]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [0]:
dtc.predict([[8]])

In [18]:
dtc.predict([[8],[7.5],[3.4]])

array(['Yes', 'Yes', 'No'], dtype=object)

#Labeled and unlabeled data
- labled-along with placed column
-unlabeled-witout placed column

In [20]:
 data3={"Student ID":[416,375,400,211],
"internal marks":[25,30,18,15],
"No.of hours study":[2,1,2,3],
"Marks":[76.5,87,59,53.5]}
marks_data2=pd.DataFrame(data3)
marks_data2

   Student ID  internal marks  No.of hours study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [21]:
marks_data2.iloc[:,1:3]

   internal marks  No.of hours study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [22]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

y=m1x1+m2x2+c

predict m1,m2qnd c

In [23]:
lr.coef_ #m1,m2

array([2.5, 2. ])

In [24]:
lr.intercept_  #c

10.0

In [25]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [26]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64